.radio-button {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 5px;
    position: relative;
    align-items: center;
    color: #000000;
}

.radio-button input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.radio {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 0.1px solid #ccc;
    transform: translateZ(-25px);
    transition: all 0.3s ease-in-out;
}

.radio::before {
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    top: 6px;
    left: 5px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.radio-button input[type="radio"]:checked+.radio {
    border-color: #000;
    transform: translateZ(0px);
    background-color: #000;
}

.radio-button input[type="radio"]:checked+.radio::before {
    opacity: 1;
}